/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.toggle-slider {
  background-color: #71bfff;
}

input:checked+.toggle-slider:before {
  transform: translateX(26px);
}

.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
} */


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}


.flex-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 0;
  background-color: #0d6efd;
  color: white;
}

.nav-left {
  width: 70%;
  height: 60px;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin-left: 60px;
}

.nav-right {
  width: 30%;
  height: 60px;
  /* background-color: aqua; */
  justify-content: end;
}

.nav-list {
  margin-left: 80px;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  padding: 10px
}

.nav-list a {
  text-decoration: none;
  color: black;
  padding: 10px;
  color: white;
  /* margin: auto; */
}

.btn-in {
  border: none;
  margin: 10px;
  padding: 10px;
}

#signup {
  margin-right: 20px;
  background-color: white;
  font-weight: 400;
  border-radius: 5px;
}

.btn-in:hover {
  background-color: #23262e;
}

#login {
  background: none;
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#myTxt {
  resize: none;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  background: rgb(200, 200, 200, 0.05);
  /* height: 30vh; */
}

.navbar-light {
  color: #15c3fd;
  background: #364150;
}

.container-light {
  color: white;
  background-color: #23262e;
}

.textarea-light { 
  color: white;
}

/* .body-light {
  background-color: #2b2e36;
} */

.alert-container {
  position: relative;
}

.alert {
  background-color: #ffc86add;
  min-width: 350px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-left: 8px solid #f8ab27d5 ;
}

.alert-msg strong {
  font-size: 22px;
}

.alert-msg {
  color: #af6f00;
  font-size: 18px;
}

.clsAlert {
  color: #af6f00;
  position: absolute;
  top: 0;
  right: 0px;
  background: #af6f0040;
  border: none;
  height: 100%;
  padding: 0 20px;
}